<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background: #ADD8E6;
            justify-content: center;
            font-family: "Gill Sans", sans-serif;
        }

        .success{
            font-size: larger;
            text-align: center;
            font-weight: 700;
        }

        .showStudents{
            border-radius:18px;
            width:150px;
            height: 30px;
            margin: 10px;
        }
    </style>
    <title>Added</title>
</head>
<body>
    <div class = "success">
        <form action="/studentList">
            Thank you for adding new student <br>
            <button class = "showStudents">Show students</button>
        </form>
        
    </div>
</body>
</html>