<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <style>
        body{
            background: #ADD8E6;
            justify-content: center;
            font-family: "Gill Sans", sans-serif; 
        }

        h1{
            font-size: xx-large;
            text-align: center;
            font-weight: 700;
        }
    </style>
</head>
<body>
    <h1>User Not Found!!</h1>
</body>
</html>